span {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

#contact {
  position: relative;
  text-align: right;
  color: white;
  margin-right: 20px;
  padding-top: 20px;
}

body {
  position: relative;
  height: 100%;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#all-content {
  position: relative;
}

#background {
  background-image: url("https://bankjoy.com/assets/images/backgrounds/background.jpg");
  height: 100%;
}

#overlay {
  background-color: #2b419d;
  opacity: 0.5;
}

#logo-image > img {
  width: 240px;
  display: block;
  margin: auto;
  margin-top: 60px;
}

#slogan > h1 {
  text-align: center;
  color: white;
  margin-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 65px;
  font-weight: 100;
}

#slogan > h5 {
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 30px;
}

#button {
  text-align: center;
  margin-top: 30px;
  border: 1px solid transparent;
  font-family: 'Sournce Sans Pro', sans-serif;
}

.btn-lg {
  border-radius: 24px;
  background-color: #5170dd;
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 15px;
}

#phones-container {
  position: relative;
  margin-top: 100px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.phones {
  width: 32%;
  position: relative;
}

#left-phone.phones {
  right: -8%;
}

#middle-phone.phones {
  width: 33%;
  margin-top: -80px;
  z-index: 2;
}

#right-phone.phones {
  left: -8%;
}
